form {
  display:flex;
  flex-direction: column;
  padding: 12px;
  padding-top: 300px;
  margin: 0 auto;
  width: 60vw;
  height: 100vh;
  text-align:center;
  opacity: 0.8;
  color: white;
  font-weight: bold;
}


.formBtn{
  margin: 10px;
  background:white;
  opacity: 6;
  border-style: dashed;
  width: 40vw;
  height: 6vh;
  margin-left: 115px;

 }