.home {
  background-image: url("https://cdn3.vectorstock.com/i/1000x1000/94/22/airplane-flat-icon-on-black-background-black-style-vector-25959422.jpg");
  color: #878787;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
 position: fixed;
 top: 50%;
 left: 50%;
 text-align: center;
 /* margin-top: -50px;
 margin-left: -100px; */
 transform: translate(-50%, -50%);

}
.title {
  font-size: 40px;
  
}

#title1 {
  margin:-40px;
}




#tripBtn {
  margin-left:60px;
  font-size: 15px;
  padding: 14px 40px;
}

#newBtn {
  padding: 14px 40px;
  font-size: 15px;
}





