.App {
  background-color:#0e0e0e;
  color:#878787;
  overflow-x:hidden;
  overflow-y:center;

}

article {
  background:rgb(0, 0, 0);
  opacity: 0.8;
}

button {
  background: white;
  color:black;
  /* border:white; */
  border-radius: 10%;
  opacity: 0.8;
  
  
}

article {
  text-align: center;
}





@media only screen and (max-width: 600px) {

  .App {
    background-color:#0e0e0e;
    color:#878787;
    overflow-x:hidden;
    overflow-y:center;
  
  }
}


